<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- Lo que tenga el index lo pinta en el body -->
    {{{body}}}
  </body>
</html>
