<!-- Se define multipart indicando que enviara archivos -->
 <form method="post" action"/subirfoto" enctype="multipart/form-data">
 Seleccione una foto:
 <input type="file" name="foto">
 <br>
 Seleccione una foto:
 <input type="file" name="foto">
 <br>
 <input type="submit" value="subir">
 </form>